# Data Collection

In this notebook, I will collect data from Yahoo Finance.

The Yahoo Finance API (YF API) provides access to stock quotes, historical market data, company financials, currency exchange rates, and market news.

In [23]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\python311\lib\site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in c:\python311\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\python311\lib\site-packages (from yfinance) (1.25.1)
Requirement already satisfied: requests>=2.31 in c:\python311\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\python311\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\python311\lib\site-packages (from yfinance) (4.2.2)
Requirement already satisfied: pytz>=2022.5 in c:\python311\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in c:\python311\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\python311\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\python311\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\python311\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\python311\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\python311\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

Installing requiere libraries

* Pandas
* yfinnance

In [24]:
import yfinance as yf
import pandas as pd

Download the stock performance from 2018 to 2023

In [17]:
yf.download(
    "AAPL",
    start='2018-01-01',
    end='2023-01-01',
    interval='1d'
)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,42.540001,43.075001,42.314999,43.064999,40.670971,102223600
2018-01-03,43.132500,43.637501,42.990002,43.057499,40.663895,118071600
2018-01-04,43.134998,43.367500,43.020000,43.257500,40.852779,89738400
2018-01-05,43.360001,43.842499,43.262501,43.750000,41.317898,94640000
2018-01-08,43.587502,43.902500,43.482498,43.587502,41.164433,82271200
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,130.959946,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.142441,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.179680,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,128.725311,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.043121,77034200

#### Retrieving the income statement from Yahoo Finnance

I will retrieve the income statement data which include:

* Total revenue
* Gross Profit
* Operating Income
* Net income
* Earning Per Share

The revenue is calculated from 2020 to 2023

Revenue (Sales): This shows how much money the company is generating from its core business activities.

In [25]:
# Get the ticker symbol object
ticker = yf.Ticker("AAPL")

# Get the income statement data
income_statement = ticker.financials.loc['Total Revenue']

print(income_statement)

2023-09-30    383285000000.0
2022-09-30    394328000000.0
2021-09-30    365817000000.0
2020-09-30    274515000000.0
Name: Total Revenue, dtype: object

In [26]:
income_statement_df = income_statement.to_frame()

income_statement_df

             Total Revenue
2023-09-30  383285000000.0
2022-09-30  394328000000.0
2021-09-30  365817000000.0
2020-09-30  274515000000.0

Gross Profit: Calculated as revenue minus the cost of goods sold (COGS), it indicates the profitability of the company's core operations.

In [36]:
# Get the income statement data
gross_profits = ticker.financials.loc['Gross Profit']

# Convert to pandas DataFrame
gross_profits_df = income_statement.to_frame()

gross_profits_df

              Gross Profit
2023-09-30  169148000000.0
2022-09-30  170782000000.0
2021-09-30  152836000000.0
2020-09-30  104956000000.0

Operating Income (Operating Profit): This is the profit after deducting operating expenses (such as salaries, rent, and utilities) from gross profit, showing how well the company is managing its operations.

In [29]:
operating_income = ticker.financials.loc['Operating Income']

# Convert to pandas DataFrame
operating_income_df = operating_income.to_frame()

operating_income_df

           Operating Income
2023-09-30   114301000000.0
2022-09-30   119437000000.0
2021-09-30   108949000000.0
2020-09-30    66288000000.0

Net Income: Often referred to as the "bottom line," net income is the profit after deducting all expenses, including taxes and interest. It represents what's left for shareholders after all costs are accounted for.

In [30]:
# Get the income statement data for Net Income
net_income = ticker.financials.loc['Net Income']

# Convert to pandas DataFrame
net_income_df = net_income.to_frame()

net_income_df

               Net Income
2023-09-30  96995000000.0
2022-09-30  99803000000.0
2021-09-30  94680000000.0
2020-09-30  57411000000.0

Earnings Per Share (EPS): This is calculated by dividing the net income by the average number of outstanding shares. EPS is a key metric for profitability on a per-share basis.

In [35]:
# Extract EPS from financials data
eps = ticker.financials.loc['Basic EPS']

# Convert to pandas DataFrame
eps_df = eps.to_frame()

eps_df

           Basic EPS
2023-09-30      6.16
2022-09-30      6.15
2021-09-30      5.67
2020-09-30      3.31

##### Summary of Income statement in tabular format

In [38]:
# Create a DataFrame with all the extracted metrics
financial_metrics = pd.DataFrame({
    'Total Revenue': income_statement,
    'Gross Profit': gross_profits,
    'Operating Income': operating_income,
    'Net Income': net_income,
    'Earnings Per Share': eps
})

financial_metrics

,Total Revenue,Gross Profit,Operating Income,Net Income,Earnings Per Share
2023-09-30,169148000000.0,169148000000.0,114301000000.0,96995000000.0,6.16
2022-09-30,170782000000.0,170782000000.0,119437000000.0,99803000000.0,6.15
2021-09-30,152836000000.0,152836000000.0,108949000000.0,94680000000.0,5.67
2020-09-30,104956000000.0,104956000000.0,66288000000.0,57411000000.0,3.31

##### Save it to CSV files

In [68]:
financial_metrics.to_csv("apple_income_sheet.csv", index=True)

print("Data has been saved to apple_income_sheet.csv")

Data has been saved to apple_income_sheet.csv

####  Retrieving the balance sheet from Yahoo Finnance

I will retrieve the balance sheet data which include:

* Total Assets
* Current Assets
* Non Current Assets
* Current Liabilites
* Non Current Liabilities
* Common Stock Quity 

The data spans the years 2020 through 2023.
The date is only available on 30th of September on each year

In [65]:
#Get the balance sheet data
balance_sheet = ticker.balance_sheet

# Extract desired metrics from the balance sheet
total_assets = balance_sheet.loc['Total Assets']
current_assets = balance_sheet.loc['Current Assets']
non_current_assets = total_assets - current_assets
current_liabilities = balance_sheet.loc['Current Liabilities']
non_current_liabilities = balance_sheet.loc['Total Non Current Liabilities Net Minority Interest']
common_stock_equity = balance_sheet.loc['Common Stock Equity']

# Create a DataFrame with all the extracted metrics
balance_sheet_metrics = pd.DataFrame({
    'Total Assets': total_assets,
    'Current Assets': current_assets,
    'Non Current Assets': non_current_assets,
    'Current Liabilities': current_liabilities,
    'Non-Current Liabilities': non_current_liabilities,
    'Common Stock Equity': common_stock_equity
})

In [66]:
balance_sheet_metrics

,Total Assets,Current Assets,Non Current Assets,Current Liabilities,Non-Current Liabilities,Common Stock Equity
2023-09-30,352583000000.0,143566000000.0,209017000000.0,145308000000.0,145129000000.0,62146000000.0
2022-09-30,352755000000.0,135405000000.0,217350000000.0,153982000000.0,148101000000.0,50672000000.0
2021-09-30,351002000000.0,134836000000.0,216166000000.0,125481000000.0,162431000000.0,63090000000.0
2020-09-30,323888000000.0,143713000000.0,180175000000.0,105392000000.0,153157000000.0,65339000000.0
2019-09-30,NaN,NaN,NaN,NaN,NaN,NaN

I will drop the column 2019 because it contain not available data

Total Assets: 
Investors look at total assets to gauge the overall size and resource base of the company.

Current Assets: 
Current assets indicate the companyâ€™s short-term liquidity and ability to cover its short-term obligations.

Non-Current Assets: 
Non-current assets show the companyâ€™s long-term investments and potential for future growth and profitability.

Current Liabilities: 
Current liabilities reveal the companyâ€™s short-term financial obligations and liquidity needs.

Non-Current Liabilities: 
Non-current liabilities indicate the companyâ€™s long-term debt and financial commitments.

Common Stock Equity: 
Common stock equity represents the shareholders' ownership interest and residual claim on assets after liabilities are paid.

##### Save it to CSV Files

In [67]:
balance_sheet_metrics.to_csv("apple_balance_sheet.csv", index=True)

print("Data has been saved to apple_balance_sheet.csv")

Data has been saved to apple_balance_sheet.csv

#### Cashflow

I will retrieve the cashflow statement data which include:

* Operating Cashflow
* Investing Cashflow
* Financing Cashflow
* Free Cashflow
* Capital Expenditure 

The data spans the years 2020 through 2023.
The date is only available on 30th of September on each year

In [69]:
# Get the cash flow statement data
cashflow_statement = ticker.cashflow

In [71]:
# Extract desired metrics from the cash flow statement
operating_cashflow = cashflow_statement.loc['Operating Cash Flow']
investing_cashflow = cashflow_statement.loc['Investing Cash Flow']
financing_cashflow = cashflow_statement.loc['Financing Cash Flow']
free_cashflow = cashflow_statement.loc['Free Cash Flow']
capital_expenditure = cashflow_statement.loc['Capital Expenditure']

# Create a DataFrame with all the extracted metrics
cashflow_metrics = pd.DataFrame({
    'Operating Cashflow': operating_cashflow,
    'Investing Cashflow': investing_cashflow,
    'Financing Cashflow': financing_cashflow,
    'Free Cashflow': free_cashflow,
    'Capital Expenditure': capital_expenditure
})

In [72]:
cashflow_metrics

,Operating Cashflow,Investing Cashflow,Financing Cashflow,Free Cashflow,Capital Expenditure
2023-09-30,110543000000.0,3705000000.0,-108488000000.0,99584000000.0,-10959000000.0
2022-09-30,122151000000.0,-22354000000.0,-110749000000.0,111443000000.0,-10708000000.0
2021-09-30,104038000000.0,-14545000000.0,-93353000000.0,92953000000.0,-11085000000.0
2020-09-30,80674000000.0,-4289000000.0,-86820000000.0,73365000000.0,-7309000000.0
2019-09-30,NaN,NaN,NaN,NaN,NaN

In [73]:
cashflow_metrics.to_csv("apple_cashflow_sheet.csv", index=True)

print("Data has been saved to apple_cashflow_sheet.csv")

Data has been saved to apple_cashflow_sheet.csv